<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PosPortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="PosPortSoap111" />
      </basicHttpBinding>
    </bindings>
    <client>
      
      <endpoint address="https://bird.staging.kartaca.com:443/pos/soap/pos"
        binding="basicHttpBinding" bindingConfiguration="PosPortSoap11"
        contract="HopiWS.PosPort" name="PosPortSoap11" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ConnectionString2" value="Data Source=UMIT-PC\SQL2014;Persist Security Info=true;User Id=sa;Password=qaz;Initial Catalog=FRANGO" />
    <add key="ConnectionString" value="Data Source=root-muhittin\SQL2014;Persist Security Info=true;User Id=sa;Password=qaz;Initial Catalog=BKE" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>